/* common css style */

.container {
  max-width: 1600px;
  width: 80%;
  margin: 50px auto;
}
.text-center {
  text-align: center;
}
.red{
  color: #F00;
}
.white{
  color: #fff;
}
.description-white{
  color: rgba(255, 255, 255, 0.80);
}
.description-black{
  color: rgba(7, 2, 17, 0.60);
}
.description {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
header *{
  font-family: 'Merriweather', serif;
}
address{
  font-style: normal;
  display: inline;
}
.discount-section *{
  font-family: 'Inter', sans-serif;
}
.btn-primary{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
  background-color: #F00;
  cursor: pointer;
}
/* header area style */

.header-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg , #070211 0%, rgba(7, 2 ,17 ,0.1) 100%) , url("../images/Rectangle 14.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text{
  width: 460px;
}
.title{
  font-size: 32px;
  font-weight: 400;
}
.header-description {
  border-radius: 16px;
  font-size: 60px;
  font-weight: 900;
  line-height: 85px;
}

/* Discount area style */
.discount-title{
  font-size: 75px;
  font-weight: 700;
}
.discount-description{
  font-size: 24px;
  font-weight: 500;
}
.discount-img{
  width: 700px;
  margin: 0 auto;
}
.discount-area img{
  width: 100%;
}
/* midnight party style */
.party{
  background: linear-gradient(100deg , #070211 0%, rgba(7, 2 ,17 ,0.1) 100%) , url('../images/Vector (1).png');
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  text-align: justify;
  gap: 40px;
  margin-top: 80px;
  background-size: cover;
}
.btn{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
/* place style */
.place{
  background: linear-gradient(180deg, rgba(239, 2, 2, 0.255) 0%, rgba(224, 2, 2, 0.063) 100%);
  padding: 80px 0px;
  text-align: center;
  margin-top: 80px;
}
.place-title{
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}
.place-text{
  margin-bottom: 50px;
}
/* OFFER style */
.offer{
  display: flex;
  margin-top: 80px;
  gap: 40px;
  align-items: center;
}
.offer-center{
  border: 10px solid #F00;
  padding: 20px;
  border-radius: 50%;
}

/* WHAT IS FUNCTIONAL Style */